<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a routerLink="/home" class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a routerLink="/dogmap" class="nav-item nav-link" href="#">Map</a>
      <a routerLink="/userForm" class="nav-item nav-link" href="#">UserForm</a>
      <a routerLink="/about" class="nav-item nav-link disabled" href="#">About</a>
      <a routerLink="/posts" class="nav-item nav-link" href="#">PostPage</a>
      <a routerLink="/dogForm" class="nav-item nav-link" href="#">DogForm</a>
      <a routerLink="/dbfeed" class="nav-item nav-link" href="#">dbfeed</a>
      <a routerLink="/cards" class="nav-item nav-link" href="#">DogCards</a>
    </div>
  </div>
</nav>