<mat-sidenav-container class="example-container">
  <mat-sidenav
   #sidenav 
  class="sidenav"
   [mode]="(isHandset | async)!.matches ? 'over':'side'"
    fixedInViewport = "true"
   [attr.role]=" isHandset ? 'dialog':'navigation'"
   [(opened)]="opened" (opened)="events.push('open!')" (closed)="events.push('close!')">
      <mat-nav-list>
          <mat-toolbar color ="primary">Sidenav Content</mat-toolbar>
      <a mat-list-item routerLink="/home" href="#">Home</a>
      <a mat-list-item routerLink="/dogmap" href="#">Map</a>
      <a mat-list-item routerLink="/userForm" href="#">UserForm</a>
      <a mat-list-item routerLink="/about" href="#">About</a>
      <a mat-list-item routerLink="/posts" href="#">PostPage</a>
      <a mat-list-item routerLink="/dogForm" href="#">DogForm</a>
      <a mat-list-item routerLink="/dbfeed" href="#">dbfeed</a>
      <a mat-list-item routerLink="/cards" href="#">DogCards</a>

    </mat-nav-list>
      </mat-sidenav>

  <mat-sidenav-content>
      <mat-toolbar color ="primary">Menu

        <button type = "button"
                aria-label="Toggle sidenav"
                mat-icon-button
                (click)="sidenav.toggle()">
                <mat-icon aria-label= "side nav toggle icon">menu</mat-icon>
        </button>
      </mat-toolbar>
      <ng-content></ng-content>
   </mat-sidenav-content>

</mat-sidenav-container>