<!--The content below is only a placeholder and can be replaced.-->
<div class="BackImage">
    Your content
<div class="west">  
  <div style="text-align:center">
    <h1>
      {{ title }}
    </h1>
  
  </div>
  <div style="text-align: center"><img src="/assets/img/ladyveneno.jpg"width="50%"style="border-radius: 50%;"/></div>

<h1>Se Busca Señora Envenenadora</h1>
<h2> viva o muerta (mejor)</h2>
<h2> recompensa 100mill starburst</h2>
<img style="width: 50%" alt="señal veneno" src="/assets/img/warning_POISON_1024x1024.jpeg">

<ul>
  <li>
    <h3><a target="_blank" rel="noopener" href="https://angular.io/tutorial">En los alrededores de Tres Cantos</a></h3>
  </li>
  <li>
    <h3><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h3>
  </li>
</ul>
<h3>Jau Hechar Petardo ?</h3>
<div style="text-align: center"><img src="/assets/img/smokin-indian.jpg" width="50%"style="border-radius: 50%;"/></div>

</div>

<footer>
    <div class="footer">diseñado por un envenenado </div>
</footer>

</div>