<div>
  google-map works!

  <ul *ngFor="let point of points | async" >
    <li>{{point.name | json }}</li>
  </ul>
</div>

<div>
  <p>cambiar radio</p>

  <mat-slider
  thumbLabel
  [displayWith]="formatLabel"
  tickInterval="1"
  min="1"
  max="100"
  >
</mat-slider>

</div>

<br>
<div>
  <agm-map [latitude]="center.latitude" [longitude]="center.longitude" [zoom]="8">

    <agm-marker 
    *ngFor="let point of points | async; trackBy: trackByFn" 
    [latitude]="point.gps.latitude" 
    [longitude]="point.gps.longitude">

      <agm-info-window>
        <h6> <strong> Howdy!</strong> </h6>
        <ul>
          <li>name:{{point.name}}</li>
          <li>email:{{point.email}}</li>
          <li>uid:{{point.id}}</li>
          <li>geohash:{{point.pos.geohash}}</li>
          <li>lat: {{point.latitude}}</li>
          <li>lon: {{point.longitude}}</li>
        </ul>
        <p>Distance:
          {{point.queryMetadata |json }}
        </p>

      </agm-info-window>

    </agm-marker>

  </agm-map>

</div>